@model Kili.ViewModels.PaiementViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Paiement";
}


        <body>

        <section id="home" classedata-stellar-background-ratio="0.5">


          <div class="row">
               <div class="col-75">
                 <div class="container" style="margin:200px;">

                   
                       <div class="col-50">
                         <h3>Votre commande a été prise en compteVos Services sont à présent actifs</h3>
                         <h3>Vos Services sont à présent actifs</h3>

                         <button type="button" class="button">@Html.ActionLink("Accéder à votre page association", "VoirProfilAssociation", "Association")</button>



                       </div>

                     </div>
        
          </div>
         </div>


     </section>


    </body>
