@model Kili.ViewModels.PaiementViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Paiement";
}
<
    <body>
        <section>
<div>Votre commande a été prise en compte - Vos Services sont à présent actifs</div>
<button type="button" class="button">@Html.ActionLink("Accéder à votre page association", "VoirProfilAssociation", "Association")</button>
</section>
    </body>
