/*

Template 2106 Soft Landing

http://www.tooplate.com/view/2106-soft-landing
	
*/
 
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400');

  body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    background: #f9f9f9;
  } 

  @font-face {
    font-family: 'poppinsBlack';
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/Poppins-Black.ttf");
    /* IE9 Compat Modes */ }

    @font-face {
      font-family: 'poppinsMedium';
      font-style: normal;
      font-weight: 300;
      src: url("../fonts/Poppins-Medium.ttf");
      /* IE9 Compat Modes */ }

      @font-face {
        font-family: 'poppinsBold';
        font-style: normal;
        font-weight: 300;
        src: url("../fonts/Poppins-Bold.ttf");
        /* IE9 Compat Modes */ }

        @font-face {
          font-family: 'poppinsRegular';
          font-style: normal;
          font-weight: 300;
          src: url("../fonts/Poppins-Regular.ttf");
          /* IE9 Compat Modes */ }

      


  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    line-height: normal;
  }

  h1 {
    font-size: 3.3em;
    font-family: 'poppinsBold';
  }

  h2 {
    color: #272727;
    font-size: 2em;
  }

  p {
    color: #272727;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
  }



  /*---------------------------------------
     GENERAL               
  -----------------------------------------*/

  html{
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: #202020;
    text-decoration: none !important;
  }

  a,
  input, button,
  .form-control {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  a:hover, a:active, a:focus {
    color: #0eeeb6;
    outline: none;
  }

  ::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #202020;
  }

  .section-title {
    padding-bottom: 40px;
  }

  section {
    position: relative;
    padding: 40px 0;
  }

  #contact,
  footer {
    background: #ffffff;
    text-align: center;
  }

 .overlay {
    background: #E3D6CE;  
    /*background: -webkit-linear-gradient(to right, #da0d9c, #23d166);*/
    background: linear-gradient(to right, #E55E32, #ffffff00); 
    opacity: 0.3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } 

  .online-form {
    position: relative;
  }

  .online-form .form-control {
    border-color: #f0f0f0;
    display: inline-block;
    vertical-align: top;
    border-radius: 50px;
    box-shadow: none;
    height: 50px;
    margin-right: 0.5em;
    padding-left: 15px;
  }
  

  .online-form input[type="email"] {
    width: 60%;
  }

  .online-form button {
    font-family: 'poppinsMedium';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2em;
    background: #E55E32;
    border: 0;
    color: #ffffff;
    position: absolute;
    left: 0;
    width: 25%;
  }

  .online-form button:hover {
    background: #272727;
    color: #ffffff;
  }



  /*---------------------------------------
     BUTTONS               
  -----------------------------------------*/

  .section-btn {
    background: #ee490e;
    border: 0;
    border-radius: 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    padding: 12px 30px;
    transition: 0.5s 0.2s;
  }

  .section-btn:hover,
  .section-btn:focus {
    background: #272727;
    color: #ffffff;
  }



  /*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
  }

  .spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 1px solid #575757;
    border-top-color: #ffffff;
    animation: spinner .9s linear infinite;
  }

  @-webkit-@keyframes spinner {
    to {transform: rotate(360deg);}
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }



  /*---------------------------------------
      HEADER              
  -----------------------------------------*/

 

  .custom-navbar {
    border: none;
    margin-bottom: 0;
    padding: 25px 0;
  }

  .custom-navbar .navbar-brand {
    width : 200px; 
    height: auto;
    padding: 0;
  }

  .top-nav-collapse {
    background: #ffffff;
  }

  .custom-navbar .navbar-nav {
    margin-left: 6em;
  }

  .custom-navbar .nav li a {
    font-family: 'poppinsRegular';
    font-size: 18px;
    font-weight: normal;
    color: #272727;
    padding-right: 10px;
    padding-left: 22px;
  }

  .custom-navbar .nav li a:hover {
    background: transparent;
    color: #ee490e;
  }

  .custom-navbar .navbar-nav > li > a:hover,
  .custom-navbar .navbar-nav > li > a:focus {
    background-color: transparent;
  }

  .custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #29ca8e;
  }

  .custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
  }

  .custom-navbar .navbar-toggle {
    background-color: transparent;
  }

  .custom-navbar .navbar-toggle .icon-bar {
    background: #29ca8e;
    border-color: transparent;
  }

  @media(min-width:768px) {
    .custom-navbar {
      border-bottom: 0;
      background: 0 0; 
    }

    /*menu en scroll*/
    .custom-navbar.top-nav-collapse {
      background: #ffffff;
      -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      padding: 30px 0;
    }

    .top-nav-collapse .navbar-brand {
      color: #252525;
    }

    .top-nav-collapse .nav li a {
      color: #575757;
    }

    .top-nav-collapse .nav .section-btn a {
      color: #ffffff;
    }
  }



  /*---------------------------------------
      HOME          
  -----------------------------------------*/

  #home {
    background: url('../images/home.png') no-repeat right ;
    /*background: #E3D6CE;
    background-size: cover;*/
    vertical-align: middle;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;*/
    padding-top: 12em;
    min-height: 90vh;
    position: relative;
    
  }

  #home h1 {
    color: #272727;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: left;
    line-height: 60px;
  }

  .home-info {
    margin-top: 7em;
  }

  .home-info h3 {
    font-family: 'poppinsRegular';
    color: #272727;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: left;
  }
 
  .img-home {
   max-height : 100%;
width : auto;
	
  }




  /*---------------------------------------
      FEATURE              
  -----------------------------------------*/

  #feature {
    background: #ffffff;
  }

  #feature .nav-tabs {
    border-bottom: 0;
  }

  #feature .nav>li>a {
    padding: 8px 0;
  }

  #feature .nav-tabs>li>a {
    color: #999999;
    font-size: 18px;
    border: 0;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    margin-right: 35px;
  }

  #feature .nav-tabs>li.active>a, 
  #feature .nav-tabs>li.active>a:focus, 
  #feature .nav-tabs>li.active>a:hover {
    background: transparent;
    color: #202020;
    border-bottom: 3px solid #dd490e;
  }

  #feature .nav>li>a:focus, 
  #feature .nav>li>a:hover {
    background: transparent;
    border-bottom: 3px solid #dd490e;
    color: #202020;
  }

  #feature .tab-content {
    margin-top: 50px;
  }

  .tab-pane-item {
    margin: 20px 0;
  }

  .tab-pane-item h2 {
    margin: 0 0 5px 0;
  }

  .feature-image {
    position: absolute;
    bottom: -27em;
  }

 /* #feature .section-title {
    color: #73727E;
  }


  /*---------------------------------------
      ABOUT              
  -----------------------------------------*/

  #about .col-md-4 {
    margin: 0;
    padding: 0;
  }

  .team-thumb {
    background: #ffffff;
    position: relative;
    overflow: hidden;
  }

  .team-thumb-up:after {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -15px;
    right: 0;
    left: 0;
    content: "";
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #ffffff;
  }

  .team-thumb-down:after {
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: -15px;
    right: 0;
    left: 0;
    content: "";
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-top: 15px solid #ffffff;
  }

  .team-info {
    position: relative;
    padding: 40px;
  }

  .team-info h2 {margin: 0;}

  .team-info small {
    display: block;
    font-size: 18px;
    margin: 5px 0 10px 0;
  }

  .team-thumb img {
    width: 100%;
  }



  /*---------------------------------------
      TESTIMONIAL           
  -----------------------------------------*/

  #testimonial {
    background: #ffffff;
  }

  #testimonial .col-md-6 {
    margin: 0;
    padding: 0;
  }

  #testimonial .section-title {
    padding-bottom: 0;
  }

  #testimonial h1 {
    color: #ffffff;
  }

  .testimonial-image {
    background: url('../images/testimonial-image.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 65vh;
    border-radius: 30px;
  }

  .testimonial-info {
    background: #B38F79;
    padding: 60px;
    height: 65vh;
    border-radius: 30px;
  }

  .testimonial-info h3 {
    color: #ffffff;
    margin-top: 5px;
    font-size: 18PX;
    line-height: 1.6;
    
  
  }

  .testimonial-info .item {
    display: block;
    width: 100%;
  }

  .testimonial-item {
    margin: 20px 0;
  }

  .owl-carousel .owl-item img,
  .testimonial-item img,
  .testimonial-item h4 {
    color: #d9d9d9;
    display: inline-block;
    vertical-align: top;
  }

  .owl-carousel .owl-item img,
  .testimonial-item img {
    border: 3px solid #ffffff;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }



  /*---------------------------------------
      PRICING             
  -----------------------------------------*/

  #pricing{
    background: url('../images/back.svg') no-repeat center center ;
    /*background: #E3D6CE;
    background-size: cover;*/
    vertical-align: middle;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;*/
    padding-top: 12em;
    min-height: 90vh;
    position: relative;
    width: auto;
    
  }
  

  #about .section-title,
  #pricing .section-title {
    text-align: center;

  }
  

  #pricing .col-md-4 {
    margin: 0;
    padding: 0;
  }

  #pricing .col-md-4:last-child .pricing-thumb {
    border-right: 0;
  }

  .pricing-thumb {
    background: #ffffff;
    border-right: 2px solid #f0f0f0;
    padding: 20px 40px;
  }

  .pricing-title {
    padding-bottom: 5px;
    color: #E55E32;
  }

  .pricing-info {
    border-top: 2px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
  }

  .pricing-info,
  .pricing-bottom {
    padding: 20px 0;
  }

  .pricing-info p {
    font-size: 16px;
  }

  .pricing-bottom {
    position: relative;
  }

  .pricing-bottom span {
    font-size: 20px;
  }

  .pricing-btn {
    position: absolute;
    top: 15px;
    right: 0;
    display: inline-block;
  }



  /*---------------------------------------
      CONTACT             
  -----------------------------------------*/

  #contact-form .col-md-12,
  #contact-form .col-md-4 {
    padding-left: 0;
  }

  #contact-form .form-control {
    background: transparent;
    border: 0;
    border-bottom: 3px solid #f0f0f0;
    border-radius: 0;
    box-shadow: none;
    margin: 10px 0;
  }

  #contact-form .form-control:focus {
    border-bottom-color: #202020;
  }

  #contact-form input {
    height: 50px;
  }

  #contact-form input[type='submit'] {
    background: #202020;
    border-radius: 50px;
    border: 0;
    color: #ffffff;
  }

  #contact-form input[type='submit']:hover {
    background: #ee490e;
    color: #ffffff;
  }
  


  /*---------------------------------------
     FOOTER              
  -----------------------------------------*/

  footer {
    padding-bottom: 80px;
  }

  .copyright-text p {
    margin: 5px;
  }



  /*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

  .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
  }

  .social-icon li a {
    border-radius: 50px;
    color: #202020;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    position: relative;
    margin: 5px 5px 5px 0;
  }

  .social-icon li a:hover {
    background: #ee490e;
    color: #ffffff;
  }



  /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  @media only screen and (max-width: 1200px) {

    .custom-navbar .navbar-nav {
      margin-left: 3em;
    }

    .home-info {
      margin-top: 0;
    }
  }


  @media only screen and (max-width: 992px) {

    section {
      padding: 60px 0;
    }

    .custom-navbar .navbar-nav {
      margin-left: 0;
    }

    .custom-navbar .nav li a {
      font-size: 14px;
      padding-right: 15px;
      padding-left: 15px;
    }

    #feature .nav-tabs>li>a {
      font-size: 16px;
      margin-right: 20px;
    }

    .feature-image {
      bottom: -24em;
    }

    .pricing-thumb {
      margin-bottom: 30px;
    }

    footer {
      padding-bottom: 40px;
    }
  }


  @media screen and (max-width: 767px) {

    .section-title {
      padding-bottom: 20px;
    }

    .custom-navbar {
      background: #ffffff;
      -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      padding: 10px 0;
      text-align: center;
    }

    .custom-navbar .nav li a {
      line-height: normal;
      padding: 5px;
    }

    .custom-navbar .navbar-brand,
    .top-nav-collapse .navbar-brand {
      color: #202020;
      font-weight: normal;
    }

    .custom-navbar .nav li a,
    .top-nav-collapse .nav li a {
      color: #656565;
    }

    .feature-image {
      position: relative;
      bottom: 0;
    }

    #about .col-md-4:nth-child(3n) .team-thumb {
      display: flex;
      -webkit-box-orient: vertical;
      flex-direction: column-reverse;
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
    }

    .team-thumb-down:after {
      top: -15px;
      bottom: inherit;
      border-top: inherit;
      border-bottom: 15px solid #ffffff;
    }

    .testimonial-image,
    .testimonial-info {
      height: 85vh;
    }

    .testimonial-info {
      padding: 30px;
    }
  }


  @media screen and (max-width: 480px) {

    .online-form input[type="email"],
    .online-form .form-control {
      width: 85%;
    }

    .online-form .form-control {
      display: block;
      margin: 20px auto;
    }

    .online-form button {
      position: relative;
      right: 0;
    }

    .testimonial-image,
    .testimonial-info {
      height: 65vh;
    }
  }

  /*test*/
  html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 20px 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10PX;
  padding-bottom: 0px;
  
}

.container {
  padding: 16px 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: #E55E32;
}

/*.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgb(143, 25, 25);
  text-align: center;
  cursor: pointer;
 /* width: 100%;
}

.button:hover {
  background-color: #555;
} */

.button {
  background: #ee490e;
  border: 0;
  border-radius: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  padding: 12px 30px;
  transition: 0.5s 0.2s;
  margin: 10px;
}

.button:hover {
  background: #73727E;
  color: #ffffff;
}

/* Carroussel */

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container 
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  max-height: 400px;*/
}

/* Next & previous buttons 
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 300px;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(199, 119, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;*/
}

/* Position the "next button" to the right 
.next {
  right: 0;
  border-radius: 3px 0 0 3px;*/
}

/* On hover, add a black background color with a little bit see-through 
.prev:hover, .next:hover {
  background-color: rgba(223, 223, 223, 0.8);*/
}

/* Caption text
.text {
  color: #E55E32;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; 
} */

/* Number text (1/3 etc) 
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}*/

/* The dots/bullets/indicators 
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-top: 400px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #ffffff00;
} */

/* Fading animation 
.fade {
  animation-name: fade;
  animation-duration: 10s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}*/
}

/* On smaller screens, decrease text size 
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}*/
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}