
@{
    Layout = "_Layout";
    ViewBag.Title = "Team";
}



<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet"> <!--link pour faire appel à l'émoji bird-->
     <!-- intro boutique -->
     <section id="about" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="cont">
               <div class="row">
                    <div class="col-md-6 col-lg-12">
                         <div id="rotate-words" class="section-title">
                              <div><h1>Question ?</h1></div>
                              <div><h1>Suggestion ?</h1></div>
                              <div><h1>Notre équipe est la pour vous répondre</h1></div>
                              <div><h1>Par ici commance l'Aventure :)👌<i class="em em-dove_of_peace" aria-role="presentation" aria-label=""></i></h1></div>
                         </div>
                    </div>
                         <div class="container" style="margin-left:15%; width:auto;">
                              <div class="col-md-2 col-lg-2">
                                   <div class="bubble">
                                        <div class="bubble-text">
                                             <div class="team-thumb">
                                                  <img src="images/team-image1.jpg" class="img-responsive" alt="Andrew Orange" style="border-radius: 10%;">
                                             </div>
                                        </div>
                                        
                                        <div class="team-info team-thumb-up">
                                             <h2 style="text-align: center;">Bruno PROVENIER</h2>
                                             <small>Art Director</small>
                                             <p>Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut labore et dolore magna.</p>
                                        </div>
                                    </div>
                              </div>
                              <div class="col-md-2 col-lg-2">
                                   <div class="bubble">
                                        <div class="bubble-text1">
                                             <div class="team-thumb">
                                                  <div class="team-info team-thumb-down">
                                                       <h2 style="text-align: center;">Fara RAZA</h2>
                                                       <small>Senior Manager</small>
                                                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut labore et dolore magna.</p>
                                                  </div>
                                             </div>
                                        </div>
                                        <img src="images/team-image2.jpg" class="img-responsive" alt="Catherine Soft" style="border-radius: 10%; margin-top: 40px;">
                                   </div>
                              </div>
                              <div class="col-md-2 col-lg-2">
                                   <div class="bubble">
                                        <div class="bubble-text">
                                             <div class="team-thumb">
                                                  <img src="images/team-image1.jpg" class="img-responsive" alt="Andrew Orange" style="border-radius: 10%;">
                                             </div>
                                        </div>
                                        <div class="team-info team-thumb-up">
                                             <h2 style="text-align: center;">Antoine MOTTE</h2>
                                             <small>Art Director</small>
                                             <p>Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut labore et dolore magna.</p>
                                        </div>
                                   </div>
                              </div>
                              <div class="col-md-2 col-lg-2">
                                   <div class="bubble">
                                        <div class="bubble-text1">
                                             <div class="team-thumb">
                                                  <div class="team-info team-thumb-down">
                                                       <h2 style="text-align: center;">Romy KOMBET</h2>
                                                       <small>Senior Manager</small>
                                                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut labore et dolore magna.</p>
                                                  </div>
                                             </div>
                                        </div>
                                        <img src="images/team-image2.jpg" class="img-responsive" alt="Catherine Soft" style="border-radius: 10%; margin-top: 40px;">
                                   </div>
                              </div>
                              <div class="col-md-2 col-lg-2">
                                   <div class="bubble">
                                        <div class="bubble-text">
                                             <div class="team-thumb">
                                                  <img src="images/team-image1.jpg" class="img-responsive" alt="Andrew Orange" style="border-radius: 10%;">
                                             </div>
                                        </div>
                                        <div class="team-info team-thumb-up">
                                             <h2 style="text-align: center;">Othman KRID</h2>
                                             <small>Art Director</small>
                                             <p>Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut labore et dolore magna.</p>
                                        </div>
                                   </div>
                              </div>     
                         </div>               
                    </div>     
               </div>