@using Kili.Models.General
@model Kili.ViewModels.ServicesViewModel


@{
    Layout = "_Layout";
    ViewBag.Title = "GererServices";
}

    <h1>
       Gestion des services
    </h1>

    <p>
        Mes services :
    </p>
    @if(@Model.abonnement.ServiceAdhesionId != null){
    <Label>Services adhésion actif</Label>
    }
    <br />
    <br />

@using (Html.BeginForm())
{
    <fieldset>
        <Label>Ajouter des Services :</Label>

        <Label>souscrire aux services Adhésion</Label><br />
        <Label>Durée :</Label>
        @Html.TextBoxFor(m => m.ServiceAdhesion.duree)
        @Html.HiddenFor(m => m.ServiceAdhesion)
        @Html.HiddenFor(m => m.abonnement)
         <input type="submit" value="Ajouter" /> <br />
     
    </fieldset>
    <br />

}
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>

