@model Kili.Models.General.PanierService;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>      
  
<form enctype="multipart/form-data"  method="post">
            <dl>
                <dt>
                    <label for="fichier">File</label>
                </dt>
                <dd>
                    <input id="fichier" type="file" 
                        name="fichier" />
                </dd>
            </dl>

            <input class="btn" type="submit" value="Upload" />

            <div style="margin-top:15px">
                <output name="result"></output>
            </div>
        </form>
        <!--
        <form enctype="multipart/form-data" method="post">
             <dl>
                 <dt>
                     <label asp-for="fichier"></label>
                </dt>
                 <dd>
                     <input asp-for="fichier" type="file">
                     <span asp-validation-for="fichier"></span>
                </dd>
             </dl>
              <input asp-page-handler="Upload" class="btn" type="submit" value="Upload" />
        </form>-->
        </html>   