@using Kili.Models.General
@model Kili.ViewModels.ServicesViewModel


@{
    Layout = "_Layout";
    ViewBag.Title = "GererServices";
}

    <h1>
       Mes Services
    </h1>

    <p>
        Mes services :
    </p>
@if (@Model.abonnement.serviceAdhesion.IsActive)
{
    <Label>Services adhésion          --    </Label> <Label>Date de Fin : @Model.abonnement.serviceAdhesion.dateFinAbonnement</Label>
}
     @if(@Model.abonnement.ServiceDon.IsActive){
    <Label>Services adhésion          --    </Label> <Label>Date de Fin : @Model.abonnement.ServiceDon.dateFinAbonnement</Label>
    }
    <br />
    <br />


    @Html.ActionLink("Gerer mes Services", "GererServices")


