@model IEnumerable<Kili.Models.Dons.Don>

@{
    Layout = "_Layout";
    ViewBag.Title = "Visualisez vos dons";
}

 <div><b>Liste des dons</b><br /></div>  
    <table class="table table-bordered table-responsive table-hover">  
    <tr>  
        <th>Montant</th>  
        <th>Date</th>  
        <th>Recurrence</th>   
    </tr>  
    @foreach (var v in Model)  
    {  
        <tr>  
            <td>@v.Montant</td>  
            <td>@v.Date</td>  
            <td>@v.Recurrence</td>    
        </tr>  
    }  
        <tr>
            <td align="right" colspan="6">Montant annuel</td>
            <td>
                @(Model.Sum(it => it.Montant))    <!-- Ne pas mettre sauf si complété avec des if en fonction de la mensualité et de la date de début-->
            </td>
        </tr>

</table>  